.main-menu-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main-menu-title-avatar {
    height: 50px;
    width: 50px;

    margin-bottom: 15px;

    background-color: red;
    border-radius: 50%;
  }

  .main-menu-title-username {
    font-size: 14px;
    font-weight: 700;
  }

  .main-menu-title-location {
    font-size: 14px;
  }

  .main-menu-title-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

    margin-top: 15px;

    .main-menu-title-stat {
      text-align: center;

      .main-menu-title-stat-desc {
        font-size: 10px;
      }
    }
  }
}