@import '../../../../less/colors.less';

.menu {
  .menu-trigger {
    height: 24px;
    width: 24px;

    cursor: pointer;

    .anticon {
      font-size: 24px;
      color: @white-color;
    }
  }
}

.menu-drawer {
  .ant-drawer-content {
    .ant-drawer-body {
      .menu-item {
        display: flex;
        align-items: center;
        
        width: 100%;

        padding: 10px;

        .menu-item-avatar {
          margin-right: 15px;
          .anticon {
            font-size: 26px;
          }
        }
      }
    }
  }
}