@import '../../../less/colors.less';

@content-margin: 0px 8.332%;

.main-view-layout {
  height: 100%;

  background: transparent;
  
  .ant-layout-header {
    background: transparent;
    line-height: unset;
  }
  
  .main-view-layout-title {
    margin: @content-margin;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .ant-layout-content {
    height: 100%;
    margin: @content-margin;

    border-radius: 25px 25px 0px 0px;
    background-color: @transparent-white-color;
  }
}