@import (css) url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
@import './colors.less';
@import './typography.less';
@import './theme.less';

body {
  height: 100%;
  width: 100vw;

  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(fade(@white-color, 0%), fade(@white-color, 50%));

  #root {
    height: 100%;
    width: 100%;
  }
}
