@import '../../../less/colors.less';

.login-form {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  .login-form-container {
    height: auto;
    width: 350px;
    
    padding: 30px;
    border-radius: 8px;
    background-color: @white-color;
    box-shadow: 0px 0px 50px 0px fade(@black-color, 50%);

    h1 {
      text-align: center;
      font-size: 48px;
      margin-bottom: 10px;
      color: fade(@black-color, 75%);
    }

    .login-form-title {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: 700;
    }

    .login-form-button {
      display: flex;
      justify-content: flex-end;
    }

    .login-form-register {
      margin-top: 15px;
      text-align: right;
    }
  }
}